<!DOCTYPE HTML>
<html>

<head>
    <title>Spring boot web service</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <h1>Spring boot web service</h1>
</body>

</html>